* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    #############################
            General CSS
    #############################
*/

body {
        /* background: #000000; */
}


  /* 
         nav header
   */
.nav-header {
                width: auto;
                height: 100px;
                display: flex;
                justify-content: space-between;
                padding: 0 235px 0px 115px;
                background: #000;
                color: #fff;
            
}

#header-navbar {
                 background: hsl(34, 100%, 45%);
                 width: ;
                 display: flex;
                 /* position: absolute; */
                 margin: 0 0 0 134px;
                 justify-content: space-between;
                 
}

ul li {
         display: inline-block;
         
     
         

}

.links div {
          /* background: #FF4900; */
          display: inline-block;
          width: 150px;
          height: 100px;
          margin-right: 0 15px 0 0 ;
           padding: 40px 10px 30px 10px;
           
          
}

ul li div a {
              padding: 15px; 
}

            /* ancchor */
a {
    text-decoration: none;
    color: #fff;
}

